<h3><%=@feeling.name%></h3>

<p>Description: <%=@feeling.definition%></p>

<h4>Words sorted by <%=@feeling.name%> (highest to lowest)</h4>
<ul>
  <%@word_feeling_ids.each do |t| %>
  <li><%=link_to @words.find(t).entry, @words.find(t)%> (<%=compute_avg(@words.find(t), @feeling).to_s%>)<br></li>
<%end%>
</ul>
<br>
