<%=flash.notice %>

<h3>Welcome <%=@user.username%></h3>

<label>First Name: </label>
<%=@user.first_name%><br>
<label>Last Name: </label>
<%=@user.last_name%><br>
<label>Email: </label>
<%=@user.email%><br>

<h4>Your words</h4>
<%= link_to "New Word", new_user_word_path(@user) %><br>

<p>Words:</p>
<% @user.words.each do |w| %>
  <div><%= w.entry %></div>
<% end %>





<%=link_to "Log Out", logout_path%><br>
<%=link_to "Home", root_path%>
