<%=flash.notice %>

<h3>Welcome <%=@user.username%></h3>

<label>First Name: </label>
<%=@user.first_name%><br>
<label>Last Name: </label>
<%=@user.last_name%><br>
<label>Email: </label>
<%=@user.email%><br>

<div>
  <h4>Your words</h4>

  <% @user.words.each do |w| %>
    <div><%= link_to w.entry, user_word_path(@user, w) %></div>
    <% end %>
    <%= link_to "Add another word", new_user_word_path(@user) %>
</div>

<br>
<%=link_to "Log Out", logout_path%><br>
<%=link_to "Home", root_path%>
