<%= flash[:notice]%>

<h3>Welcome
  <% if logged_in?%>
    <%=current_user.first_name%>
  <%end%>
</h3>

<%=link_to "View full database of words", words_path%><br>

<% if logged_in?%>
    <%=link_to "View all of your words", user_words_path(current_user.id)%><br>
<%end%>

<br>
<%if logged_in?%>
  <%= link_to "Log out", logout_path, method: :delete %>
<%end%>
