<%= form_for(@word) do |f| %>
  <label>Word:</label><br>
  <%= f.hidden_field :user_id %>
  <%= f.text_field :entry %><br>

  <label>How does it rank for each of these emotions?</label><br>
  <%@feelings.sort_by(&:name).each do |feel|%>
    <label><%=link_to feel.name, feel%></label><br>
    <%= range_field(feel.name, :feeling_rating, in: 1..9, step: 0.1) %><br>
  <%end%>

  <%= f.submit action_name == 'new' ? 'Add Word' : 'Update Word'%>
<% end %>
