<%=flash.notice %>

<%if logged_in?%>
  <h3>Hi <%=@user.first_name%>,</h3>
  <h3>See a word missing from the database below?</h3>
  <h3><%=link_to "Add it now!", new_user_word_path(@user), class: "link_to"%></h3>
  <br/>
  <%if @recent_words.length > 0%>
    <h3>My most recently added words</h3>
    <ul>
      <%@recent_words.each do |r|%>
      <li><%=link_to r.entry, r%> <br>
          added <%=create_day(r)%>, at <%=create_time(r)%>
      <%end%>
      </li>
    </ul>
    <br/>
    <h5>Click on a word to view or rank its emotional loadings.</h5>
  <%end%>
<%else%>
  <h3>Hi friend,</h3>
  <h3>See a word missing from the database below?</h3>
  <h3><%=link_to "Log in", login_path%> to add a word!</h3>
  <br/>
  <h5>Click on a word to view its emotional loadings.</h5>
<%end%>

<div class="container">
  <nav class="pagination-container">
      <ul class="pagination">
        <span class="pagination-inner">
        <%("A".."Z").each do |t| %>
          <a href="#" class="<%='pagination-active' if t == 'T'%>" onclick="makeList(<%=t%>);return false;"  id=<%=t%> data-display_words='<%=returnURLs(t)%>' data-use_letter=<%=t%>><%=t%></a>
        <%end%>
      </span>
      </ul>
  </nav>
  <div class="card">
    <div class="card-body" id="list_words">
    </div>
  </div>
</div>

<%= render :partial => 'words/pagination.js' %>
