<%=flash.notice %>

<%if logged_in?%>
  <h3>Hi <%=@user.first_name%>,</h3>
  <h3>Don't see a word listed in the database below?</h3>
  <h3><%=link_to "Add it now!", new_user_word_path(@user), class: "link_to"%></h3>
  <br/>
  <%if @recent_words.length > 0%>
    <h3>My most recently added words</h3>
    <ul>
      <%@recent_words.each do |r|%>
      <li><%=link_to r.entry, r%> <br>
          added <%=create_day(r)%>, at <%=create_time(r)%>
      <%end%>
      </li>
    </ul>
    <br/>
    <h5>Click on a word to view or rank its emotional loadings.</h5>
  <%end%>
<%else%>
  <h5>Click on a word to view its emotional loadings.</h5>
<%end%>
<ul>
  <%@abcwords_ids.each do |t| %>
  <li><%=link_to @words_.find(t).entry, @words_.find(t)%><br></li>
  <%end%>
</ul>
