<%=flash.notice %>

<%if logged_in?%>
  <h3>My most recently added words</h3>
  <ul>
    <%@userwords.each do |r|%>  <!--@recent_words-->
      <li><%=link_to r.entry, r%> <br>
        added <%=create_day(r)%>, at <%=create_time(r)%>
        <%end%>
      </li>
    </ul>
<%end%>

<h3>Current top 10 most loaded words</h3>

<ul>
  <%@top10_idx.each do |t| %>
  <li><%=link_to @words_.find(t+1).entry, @words_.find(t+1)%> (<%=compute_avg(@words_.find(t+1)).to_s%>)<br></li>

  <%end%>
</ul>

<h3>All words</h3>
<ul>
  <% @words_.each do |w| %>
    <li><%= link_to w.entry, w %></li>
  <% end %>
</ul>
