<h3><%=@word.entry%></h3>

<p>Current loaded rating (averaged over eight feelings): <%=compute_avg(@word)%></p><br>
<p>Breakdown by eight feelings:</p>
<ul>
<%@feelings.each do |feel|%>
  <p><%=link_to feel.name, feel%>: <%=compute_avg(@word,feel)%></p>
<%end%>
<ul>
<br>



<%=link_to "Log Out", logout_path%><br>
<%=link_to "Home", root_path%>
