<h2><%=@word.entry%></h2>
<%if logged_in? && already_ranked?(@word,@user)%>
  <h4>Congrats, you have already ranked this word.</h4>
<%elsif logged_in?%>
  <h4>Help us by <%=link_to "ranking this word", new_word_word_feeling_path(@word)%>!</h4>
<%else%>
  <h4><%=link_to "Log in", login_path%> to rank this word!</h4>
<%end%>
<br/>
<h5>Loadedness of eight emotions based on <%=@num_users%> users</h5>
<p>Users rank words on a sliding scale from 1 to 9 (with .1 intervals) for each of the emotions on the chart.</p>
<div class="card">
    <div class="card-body" style="height: 400px;">
      <canvas id="spider"></canvas>
    </div>
</div>
<%= render :partial => "words/spider.js" %>
