<h2><%=@word.entry%></h2>
<%if logged_in? && already_ranked?(@word,@user)%>
  <h4>Congrats, you have already ranked this word.</h4>
<%elsif logged_in?%>
  <h4>Help us by <%=link_to "ranking this word", new_word_word_feeling_path(@word)%>!</h4>
<%else%>
  <h4><%=link_to "Log in", login_path%> to rank this word!</h4>
<%end%>
<br/>
<h5>Loadedness of eight emotions based on <%=@num_users%> users</h5>
<p>Users rank words on a sliding scale from 1 to 9 (with .1 intervals) for each of the emotions on the chart.</p>
<canvas id='spider'></canvas>
<script>
var ctx = document.getElementById('spider').getContext('2d');
var spider = new Chart(ctx, {
    type: 'radar',
    data: {
        labels: <%=raw @feels%>,
        datasets: [{
          label: 'average rating',
          backgroundColor: "rgba(220,0,115,0.4)",
          borderColor: "rgba(220,0,115,0.2)",
          pointBackgroundColor: "rgba(220,0,115,0.4)",
          pointBorderColor: "rgba(220,0,115,0.4)",
          data: <%=@avgs%>
          }, {
          label: 'median rating',
          backgroundColor: "rgba(245,183,0,0.4)",
          borderColor: "rgba(245,183,0,0.2)",
          pointBackgroundColor: "rgba(245,183,0,0.2)",
          pointBorderColor: "rgba(245,183,0,0.2)",
          data: <%=@medians%>
        }]
    },
    options: {
        scale: {
            angleLines: {
                display: false
            },
            ticks: {
                suggestedMin: 0,
                suggestedMax: 9,
            },
            pointLabels: {
              fontSize: 18
            }
        },
      //display legend or not
      legend: {
        display: true
      },
      tooltips: {
        callbacks: {
          label: function(tooltipItem) {
            return tooltipItem.yLabel;
          }
        }
      }
    }
});
</script>
